button{
    padding: 5px;
    margin: 5px;
}

button:hover{
    border-color: #fd0000;
    cursor: pointer;
}

.button_hovered{
    border-color: #fd0000;
    cursor: pointer;
}

.hovered_county{
    fill: #fd0000;
    cursor: pointer;
}